# Content-based Course Recommender System Using User Profile and Course Genres

One of the most common recommendation system, is to recommend items to the users based on their profiles. A users profile shows his taste and preferences. 

For my data a users profile is shaped based on user rating, the number of times a user has clicked on different items or liked those items. 

The recommendation process is based on the similarity of the items. In order to find the similarity between the items, I a must find the similaity between the content. Content is for example the genre, category, tag, description etc.

For the content based systems the basic ingredient is to build an algorithm to create the users profile.

# Prepare the lab

In [23]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [25]:
genres_df = pd.read_csv("course_genre.csv")
genres_df.head(2)

,COURSE_ID,TITLE,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,ML0201EN,robots are coming build iot apps with watson ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1,ML0122EN,accelerating deep learning with gpu,0,1,0,0,0,1,0,1,0,0,0,0,0,0

In [26]:
profile_df = pd.read_csv("user_profile.csv")
profile_df.head(2)

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,2,52.0,14.0,6.0,43.0,3.0,33.0,0.0,29.0,41.0,2.0,18.0,34.0,9.0,6.0
1,4,40.0,2.0,4.0,28.0,0.0,14.0,0.0,20.0,24.0,0.0,6.0,6.0,0.0,2.0

In [28]:
profile_df[profile_df['user'] == 8]

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
4,8,6.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0

In [30]:
test_users_df = pd.read_csv("ratings.csv")
test_users_df.head(2)

      user      item  rating
0  1889878  CC0101EN       5
1  1342067  CL0101EN       3

In [31]:
# Group the test users DataFrame by the 'user' column and find the maximum value for each group,
# then reset the index and drop the old index to obtain a DataFrame with unique user IDs
test_users = test_users_df.groupby(['user']).max().reset_index(drop=False)

# Extract the 'user' column from the test_users DataFrame and convert it to a list of user IDs
test_user_ids = test_users['user'].to_list()

# Print the total number of test users by obtaining the length of the test_user_ids list
print(f"Total numbers of test users {len(test_user_ids)}")

Total numbers of test users 33901

- For the particular task generated by IBM, the developer needs to find the profile user 1078030

In [32]:
test_user_profile = profile_df[profile_df['user'] == 1078030]
test_user_profile

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
18204,1078030,0.0,12.0,0.0,9.0,0.0,12.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# Now let's get the test user vector by excluding the `user` column
test_user_vector = test_user_profile.iloc[0, 1:].values
test_user_vector

array([ 0., 12.,  0.,  9.,  0., 12.,  0.,  6.,  0.,  0.,  0.,  0.,  0.,
        0.])

Find the enrolled courses

In [35]:
enrolled_courses = test_users_df[test_users_df['user'] == 1078030]['item'].to_list()
enrolled_courses = set(enrolled_courses)
enrolled_courses

{'DA0101EN',
 'DV0101EN',
 'ML0101ENv3',
 'ML0115EN',
 'ML0120ENv2',
 'ML0122ENv1',
 'PY0101EN',
 'ST0101EN'}

Print the entire course list

In [37]:
all_courses = set(genres_df['COURSE_ID'].values)
all_courses

{'AI0111EN',
 'BC0101EN',
 'BC0201EN',
 'BC0202EN',
 'BD0101EN',
 'BD0111EN',
 'BD0115EN',
 'BD0121EN',
 'BD0123EN',
 'BD0131EN',
 'BD0133EN',
 'BD0135EN',
 'BD0137EN',
 'BD0141EN',
 'BD0143EN',
 'BD0145EN',
 'BD0151EN',
 'BD0153EN',
 'BD0211EN',
 'BD0212EN',
 'BD0221EN',
 'BD0223EN',
 'BENTEST4',
 'CB0101EN',
 'CB0103EN',
 'CB0105ENv1',
 'CB0201EN',
 'CC0101EN',
 'CC0103EN',
 'CC0120EN',
 'CC0121EN',
 'CC0150EN',
 'CC0201EN',
 'CC0210EN',
 'CC0250EN',
 'CC0271EN',
 'CL0101EN',
 'CNSC02EN',
 'CO0101EN',
 'CO0193EN',
 'CO0201EN',
 'CO0301EN',
 'CO0302EN',
 'CO0401EN',
 'COM001EN',
 'CP0101EN',
 'DA0101EN',
 'DA0151EN',
 'DA0201EN',
 'DAI101EN',
 'DB0101EN',
 'DB0111EN',
 'DB0113EN',
 'DB0115EN',
 'DB0151EN',
 'DE0205EN',
 'DJ0101EN',
 'DP0101EN',
 'DS0101EN',
 'DS0103EN',
 'DS0105EN',
 'DS0107',
 'DS0110EN',
 'DS0132EN',
 'DS0201EN',
 'DS0301EN',
 'DS0321EN',
 'DV0101EN',
 'DV0151EN',
 'DW0101EN',
 'DX0106EN',
 'DX0107EN',
 'DX0108EN',
 'EE0101EN',
 'GPXX01AVEN',
 'GPXX01DCEN',
 'GPXX01RYEN',
 'GPXX03HFEN',
 'GPXX0435EN',
 'GPXX048OEN',
 'GPXX04HEEN',
 'GPXX04MXEN',
 'GPXX04P5EN',
 'GPXX04TNEN',
 'GPXX04V3EN',
 'GPXX04XJEN',
 'GPXX05LMEN',
 'GPXX05P1EN',
 'GPXX05RDEN',
 'GPXX06KEEN',
 'GPXX06RFEN',
 'GPXX06ZLEN',
 'GPXX0725EN',
 'GPXX0742EN',
 'GPXX07REN',
 'GPXX07UGEN',
 'GPXX07YGEN',
 'GPXX08WYEN',
 'GPXX097UEN',
 'GPXX0A1YEN',
 'GPXX0ADEN',
 'GPXX0BSAEN',
 'GPXX0BUBEN',
 'GPXX0D14EN',
 'GPXX0E3QEN',
 'GPXX0FFCEN',
 'GPXX0FTCEN',
 'GPXX0G31EN',
 'GPXX0G3KEN',
 'GPXX0G81EN',
 'GPXX0HAAEN',
 'GPXX0HC7EN',
 'GPXX0HZ2EN',
 'GPXX0I4FEN',
 'GPXX0IBEN',
 'GPXX0IHMEN',
 'GPXX0JGFEN',
 'GPXX0JLHEN',
 'GPXX0JZ4EN',
 'GPXX0KHHEN',
 'GPXX0KV4EN',
 'GPXX0KY1EN',
 'GPXX0LLEEN',
 'GPXX0M6UEN',
 'GPXX0M7ZEN',
 'GPXX0MIIEN',
 'GPXX0MP0EN',
 'GPXX0NHZEN',
 'GPXX0PG8EN',
 'GPXX0PICEN',
 'GPXX0Q8AEN',
 'GPXX0QJFEN',
 'GPXX0QQ3EN',
 'GPXX0QR3EN',
 'GPXX0QS6EN',
 'GPXX0QTEEN',
 'GPXX0QU9EN',
 'GPXX0RL8EN',
 'GPXX0RQLEN',
 'GPXX0SDXEN',
 'GPXX0T0FEN',
 'GPXX0T3CEN',
 'GPXX0TY1EN',
 'GPXX0UMSEN',
 'GPXX0UN5EN',
 'GPXX0W7KEN',
 'GPXX0WRDEN',
 'GPXX0WTIEN',
 'GPXX0XENEN',
 'GPXX0XFQEN',
 'GPXX0XV3EN',
 'GPXX0YBFEN',
 'GPXX0YMEEN',
 'GPXX0YXHEN',
 'GPXX0Z2PEN',
 'GPXX0ZG0EN',
 'GPXX0ZMZEN',
 'GPXX0ZYVEN',
 'HCC104EN',
 'HCC105EN',
 'IT0101EN',
 'LB0101ENv1',
 'LB0103ENv1',
 'LB0105ENv1',
 'LB0107ENv1',
 'LB0109ENv1',
 'LB0111EN',
 'ML0101EN',
 'ML0101ENv3',
 'ML0103EN',
 'ML0109EN',
 'ML0111EN',
 'ML0115EN',
 'ML0120EN',
 'ML0120ENv2',
 'ML0120ENv3',
 'ML0122EN',
 'ML0122ENv1',
 'ML0122ENv3',
 'ML0151EN',
 'ML0201EN',
 'OS0101EN',
 'PA0101EN',
 'PA0103EN',
 'PA0107EN',
 'PA0109EN',
 'PHPM002EN',
 'PY0101EN',
 'QC0101EN',
 'RAVSCTEST1',
 'RP0101EN',
 'RP0103',
 'RP0103EN',
 'RP0105EN',
 'RP0151EN',
 'SC0101EN',
 'SC0103EN',
 'SC0105EN',
 'SECM03EN',
 'SN0111EN',
 'ST0101EN',
 'ST0201EN',
 'ST0301EN',
 'SW0101EN',
 'SW0201EN',
 'TA0105',
 'TA0105EN',
 'TA0106EN',
 'TMP0101EN',
 'TMP0105EN',
 'TMP0106',
 'TMP107',
 'WA0101EN',
 'WA0103EN',
 'excourse01',
 'excourse02',
 'excourse03',
 'excourse04',
 'excourse05',
 'excourse06',
 'excourse07',
 'excourse08',
 'excourse09',
 'excourse10',
 'excourse11',
 'excourse12',
 'excourse13',
 'excourse14',
 'excourse15',
 'excourse16',
 'excourse17',
 'excourse18',
 'excourse19',
 'excourse20',
 'excourse21',
 'excourse22',
 'excourse23',
 'excourse24',
 'excourse25',
 'excourse26',
 'excourse27',
 'excourse28',
 'excourse29',
 'excourse30',
 'excourse31',
 'excourse32',
 'excourse33',
 'excourse34',
 'excourse35',
 'excourse36',
 'excourse37',
 'excourse38',
 'excourse39',
 'excourse40',
 'excourse41',
 'excourse42',
 'excourse43',
 'excourse44',
 'excourse45',
 'excourse46',
 'excourse47',
 'excourse48',
 'excourse49',
 'excourse50',
 'excourse51',
 'excourse52',
 'excourse53',
 'excourse54',
 'excourse55',
 'excourse56',
 'excourse57',
 'excourse58',
 'excourse59',
 'excourse60',
 'excourse61',
 'excourse62',
 'excourse63',
 'excourse64',
 'excourse65',
 'excourse66',
 'excourse67',
 'excourse68',
 'excourse69',
 'excourse70',
 'excourse71',
 'excourse72',
 'excourse73',
 'excourse74',
 'excourse75',
 'excourse76',
 'excourse77',
 'excourse78',
 'excourse79',
 'excourse80',
 'excourse81',
 'excourse82',
 'excourse83',
 'excourse84',
 'excourse85',
 'excourse86',
 'excourse87',
 'excourse88',
 'excourse89',
 'excourse90',
 'excourse91',
 'excourse92',
 'excourse93'}

Then we can use all courses to subtract the enrolled courses to get a set of all unknown courses for user `1078030`, and we want to find potential interested courses hidden in the unknown course list.

In [40]:
unknown_courses = all_courses.difference(enrolled_courses)
unknown_courses

{'AI0111EN',
 'BC0101EN',
 'BC0201EN',
 'BC0202EN',
 'BD0101EN',
 'BD0111EN',
 'BD0115EN',
 'BD0121EN',
 'BD0123EN',
 'BD0131EN',
 'BD0133EN',
 'BD0135EN',
 'BD0137EN',
 'BD0141EN',
 'BD0143EN',
 'BD0145EN',
 'BD0151EN',
 'BD0153EN',
 'BD0211EN',
 'BD0212EN',
 'BD0221EN',
 'BD0223EN',
 'BENTEST4',
 'CB0101EN',
 'CB0103EN',
 'CB0105ENv1',
 'CB0201EN',
 'CC0101EN',
 'CC0103EN',
 'CC0120EN',
 'CC0121EN',
 'CC0150EN',
 'CC0201EN',
 'CC0210EN',
 'CC0250EN',
 'CC0271EN',
 'CL0101EN',
 'CNSC02EN',
 'CO0101EN',
 'CO0193EN',
 'CO0201EN',
 'CO0301EN',
 'CO0302EN',
 'CO0401EN',
 'COM001EN',
 'CP0101EN',
 'DA0151EN',
 'DA0201EN',
 'DAI101EN',
 'DB0101EN',
 'DB0111EN',
 'DB0113EN',
 'DB0115EN',
 'DB0151EN',
 'DE0205EN',
 'DJ0101EN',
 'DP0101EN',
 'DS0101EN',
 'DS0103EN',
 'DS0105EN',
 'DS0107',
 'DS0110EN',
 'DS0132EN',
 'DS0201EN',
 'DS0301EN',
 'DS0321EN',
 'DV0151EN',
 'DW0101EN',
 'DX0106EN',
 'DX0107EN',
 'DX0108EN',
 'EE0101EN',
 'GPXX01AVEN',
 'GPXX01DCEN',
 'GPXX01RYEN',
 'GPXX03HFEN',
 'GPXX0435EN',
 'GPXX048OEN',
 'GPXX04HEEN',
 'GPXX04MXEN',
 'GPXX04P5EN',
 'GPXX04TNEN',
 'GPXX04V3EN',
 'GPXX04XJEN',
 'GPXX05LMEN',
 'GPXX05P1EN',
 'GPXX05RDEN',
 'GPXX06KEEN',
 'GPXX06RFEN',
 'GPXX06ZLEN',
 'GPXX0725EN',
 'GPXX0742EN',
 'GPXX07REN',
 'GPXX07UGEN',
 'GPXX07YGEN',
 'GPXX08WYEN',
 'GPXX097UEN',
 'GPXX0A1YEN',
 'GPXX0ADEN',
 'GPXX0BSAEN',
 'GPXX0BUBEN',
 'GPXX0D14EN',
 'GPXX0E3QEN',
 'GPXX0FFCEN',
 'GPXX0FTCEN',
 'GPXX0G31EN',
 'GPXX0G3KEN',
 'GPXX0G81EN',
 'GPXX0HAAEN',
 'GPXX0HC7EN',
 'GPXX0HZ2EN',
 'GPXX0I4FEN',
 'GPXX0IBEN',
 'GPXX0IHMEN',
 'GPXX0JGFEN',
 'GPXX0JLHEN',
 'GPXX0JZ4EN',
 'GPXX0KHHEN',
 'GPXX0KV4EN',
 'GPXX0KY1EN',
 'GPXX0LLEEN',
 'GPXX0M6UEN',
 'GPXX0M7ZEN',
 'GPXX0MIIEN',
 'GPXX0MP0EN',
 'GPXX0NHZEN',
 'GPXX0PG8EN',
 'GPXX0PICEN',
 'GPXX0Q8AEN',
 'GPXX0QJFEN',
 'GPXX0QQ3EN',
 'GPXX0QR3EN',
 'GPXX0QS6EN',
 'GPXX0QTEEN',
 'GPXX0QU9EN',
 'GPXX0RL8EN',
 'GPXX0RQLEN',
 'GPXX0SDXEN',
 'GPXX0T0FEN',
 'GPXX0T3CEN',
 'GPXX0TY1EN',
 'GPXX0UMSEN',
 'GPXX0UN5EN',
 'GPXX0W7KEN',
 'GPXX0WRDEN',
 'GPXX0WTIEN',
 'GPXX0XENEN',
 'GPXX0XFQEN',
 'GPXX0XV3EN',
 'GPXX0YBFEN',
 'GPXX0YMEEN',
 'GPXX0YXHEN',
 'GPXX0Z2PEN',
 'GPXX0ZG0EN',
 'GPXX0ZMZEN',
 'GPXX0ZYVEN',
 'HCC104EN',
 'HCC105EN',
 'IT0101EN',
 'LB0101ENv1',
 'LB0103ENv1',
 'LB0105ENv1',
 'LB0107ENv1',
 'LB0109ENv1',
 'LB0111EN',
 'ML0101EN',
 'ML0103EN',
 'ML0109EN',
 'ML0111EN',
 'ML0120EN',
 'ML0120ENv3',
 'ML0122EN',
 'ML0122ENv3',
 'ML0151EN',
 'ML0201EN',
 'OS0101EN',
 'PA0101EN',
 'PA0103EN',
 'PA0107EN',
 'PA0109EN',
 'PHPM002EN',
 'QC0101EN',
 'RAVSCTEST1',
 'RP0101EN',
 'RP0103',
 'RP0103EN',
 'RP0105EN',
 'RP0151EN',
 'SC0101EN',
 'SC0103EN',
 'SC0105EN',
 'SECM03EN',
 'SN0111EN',
 'ST0201EN',
 'ST0301EN',
 'SW0101EN',
 'SW0201EN',
 'TA0105',
 'TA0105EN',
 'TA0106EN',
 'TMP0101EN',
 'TMP0105EN',
 'TMP0106',
 'TMP107',
 'WA0101EN',
 'WA0103EN',
 'excourse01',
 'excourse02',
 'excourse03',
 'excourse04',
 'excourse05',
 'excourse06',
 'excourse07',
 'excourse08',
 'excourse09',
 'excourse10',
 'excourse11',
 'excourse12',
 'excourse13',
 'excourse14',
 'excourse15',
 'excourse16',
 'excourse17',
 'excourse18',
 'excourse19',
 'excourse20',
 'excourse21',
 'excourse22',
 'excourse23',
 'excourse24',
 'excourse25',
 'excourse26',
 'excourse27',
 'excourse28',
 'excourse29',
 'excourse30',
 'excourse31',
 'excourse32',
 'excourse33',
 'excourse34',
 'excourse35',
 'excourse36',
 'excourse37',
 'excourse38',
 'excourse39',
 'excourse40',
 'excourse41',
 'excourse42',
 'excourse43',
 'excourse44',
 'excourse45',
 'excourse46',
 'excourse47',
 'excourse48',
 'excourse49',
 'excourse50',
 'excourse51',
 'excourse52',
 'excourse53',
 'excourse54',
 'excourse55',
 'excourse56',
 'excourse57',
 'excourse58',
 'excourse59',
 'excourse60',
 'excourse61',
 'excourse62',
 'excourse63',
 'excourse64',
 'excourse65',
 'excourse66',
 'excourse67',
 'excourse68',
 'excourse69',
 'excourse70',
 'excourse71',
 'excourse72',
 'excourse73',
 'excourse74',
 'excourse75',
 'excourse76',
 'excourse77',
 'excourse78',
 'excourse79',
 'excourse80',
 'excourse81',
 'excourse82',
 'excourse83',
 'excourse84',
 'excourse85',
 'excourse86',
 'excourse87',
 'excourse88',
 'excourse89',
 'excourse90',
 'excourse91',
 'excourse92',
 'excourse93'}

Genre vectors for those unknown courses

In [41]:
unknown_course_genres = genres_df[genres_df['COURSE_ID'].isin(unknown_courses)]
# Now let's get the course matrix by excluding `COURSE_ID` and `TITLE` columns:
course_matrix = unknown_course_genres.iloc[:, 2:].values
course_matrix

array([[0, 0, 0, ..., 1, 1, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0]], dtype=int64)

Given the user profile vector for user `1078030`  and all the unseen course genres vectors above, you can use the dot product to calculate the recommendation score for each unknown course

In [42]:
score = np.dot(course_matrix[1], test_user_vector)
score

30.0

Choose a recommendation score threshold. If the score of any course is above the threshold, we may recommend that course to the user.

In [43]:
# Reload the test users dataset from the specified URL using pandas and store it in test_users_df
test_users_df = pd.read_csv("ratings.csv")

# Reload the user profiles dataset from the specified URL containing user profiles and their associated genres using pandas and store it in profile_df
profile_df = pd.read_csv("user_profile.csv")

# Reload the course genres dataset from the specified URL containing course genres using pandas and store it in course_genres_df
course_genres_df = pd.read_csv("course_genre.csv")

# Create an empty dictionary to store the results of the recommendation process
res_dict = {}

We only want to recommend courses with very high scores so we may set a score threshold to filter out those courses with low scores.

In [44]:
# Only keep the score larger than the recommendation threshold
# The threshold can be fine-tuned to adjust the size of generated recommendations
score_threshold = 10.0

_TODO: Complete the generate_recommendation_scores() function blow to generate recommendation score for all users. You may also implement the task with different solutions._

In [46]:
def generate_recommendation_scores(top_n=5):
    """
    Generate top-N course recommendations for users based on content similarity.

    Parameters:
        top_n (int): Number of top recommendations per user.

    Returns:
        users (list): List of user IDs (repeated for each recommended course).
        courses (list): List of recommended course IDs.
        scores (list): List of recommendation scores.
    """
    users = []
    courses = []
    scores = []

    for user_id in test_user_ids:
        # Get user profile
        test_user_profile = profile_df[profile_df['user'] == user_id]
        if test_user_profile.empty:
            continue

        test_user_vector = test_user_profile.iloc[0, 1:].values

        # Get courses not enrolled by this user
        enrolled_courses = test_users_df[test_users_df['user'] == user_id]['item'].to_list()
        unknown_courses = all_courses.difference(enrolled_courses)

        if not unknown_courses:
            continue

        # Get features of unknown courses
        unknown_course_df = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
        unknown_course_ids = unknown_course_df['COURSE_ID'].values
        course_vectors = unknown_course_df.iloc[:, 2:].values

        # Compute dot product similarity
        recommendation_scores = np.dot(course_vectors, test_user_vector)

        # Get indices of top-N scores
        top_indices = np.argsort(recommendation_scores)[-top_n:][::-1]  # Descending order

        for idx in top_indices:
            users.append(user_id)
            courses.append(unknown_course_ids[idx])
            scores.append(recommendation_scores[idx])

    return users, courses, scores

# Check the generation system

In [47]:
# Call the generate_recommendation_scores function to obtain recommendation scores for users and courses,
# and assign the returned lists to variables users, courses, and scores
users, courses, scores = generate_recommendation_scores()

# Create an empty dictionary named res_dict to store the results of the recommendation process
res_dict = {}

# Store the lists of users, courses, and scores into the res_dict dictionary with corresponding keys
res_dict['USER'] = users
res_dict['COURSE_ID'] = courses
res_dict['SCORE'] = scores

# Create a DataFrame named res_df using the res_dict dictionary, specifying the column order as ['USER', 'COURSE_ID', 'SCORE']
res_df = pd.DataFrame(res_dict, columns=['USER', 'COURSE_ID', 'SCORE'])

# Save the res_df DataFrame to a CSV file named "profile_rs_results.csv" without including the index
res_df.to_csv("profile_rs_results.csv", index=False)

# Output the res_df DataFrame
res_df

           USER   COURSE_ID  SCORE
0             2  excourse72  136.0
1             2  excourse73  136.0
2             2   GPXX0IBEN  105.0
3             2  GPXX0TY1EN  101.0
4             2  excourse31   99.0
...         ...         ...    ...
169500  2103039    CB0201EN    2.0
169501  2103039   GPXX0IBEN    2.0
169502  2103039  GPXX0ZMZEN    2.0
169503  2103039  GPXX0742EN    2.0
169504  2103039  excourse40    2.0

[169505 rows x 3 columns]

- The courses with the highest score are the ones I must recommend to the user